@charset "UTF-8";

body{
	background-color:#181818;
}

header{
	background-color:#666666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
header h2{
	margin-bottom:0px;
}

footer{
	background-color:#666666;
}