<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">

<insert id="signin">
	INSERT INTO prj_member(mno, id, password, name)
	VALUES(board_seq.nextval, #{id}, #{password}, #{name})
</insert>

<delete id="signout">
	DELETE FROM prj_member WHERE id=#{id} AND password=#{password}
</delete>

<select id="read" resultType="org.zerock.domain.MemberVO">
	SELECT * FROM prj_member WHERE id=#{id}
</select>

<update id="changeName">
	UPDATE prj_member SET name=#{name} WHERE id=#{id}
</update>

<update id="changePassword">
	UPDATE prj_member SET password=#{password} WHERE id=#{id}
</update>

<select id="boardCnt" resultType="int">
	SELECT COUNT(*) FROM prj_board WHERE mno=#{mno}
</select>

<select id="replyCnt" resultType="int">
	SELECT COUNT(*) FROM prj_reply WHERE mno=#{mno}
</select>

</mapper>